body{
    font-family: 'Montserrat', sans-serif;  
}

h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h3{
    line-height: 3;
    font-size: 1.5rem;
    font-weight: bold;
}

h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

/* TITLE SECTION */

#title{
    background-color: #ff4c68;
    color: white;
}

.container-fullwidth{
    padding: 3% 15% 7%;
    margin-bottom: 0;
}
/*  Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-item{
    padding: 0 18px;
    font-weight: light;
    font-size: 1.2rem;
}

.title-image{
    width: 25%;
    right: 25%;
    transform: rotate(25deg);
    position: absolute;
}

/* FEATURES SECTION */

#features{
    padding: 100px 15%;
    background-color: #fff;
    position: relative;
    
}
.feature-box{
    text-align: center;
}

.feature-box h3{
    line-height: 1;
}
.feature-box p{
    padding: 4.5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* TESTIMONIALS SECTION */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* PRESS SECTION */

#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

/* PRICING SECTION */

#pricing{
    padding: 100px;
    text-align: center;
}
.last-price{
    line-height: 0.87;
}
.card-dog{
    margin: 10px;
}
.carousel-item{
    padding: 7% 15%;
}
.out-row{
    margin-top: 20px;
}

/* CTA SECTION */

#cta{
    padding: 100px;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.cta-bottom{
    margin-bottom: 0;
}

/* FOOTER SECTION */

#footer{
    padding: 100px;
    text-align: center;
    background-color: #fff;
    color: gray;
}

.social-network{
    color: black;
}

.social-network i{
    margin: 0 10px 20px;
}


@media (max-width: 1110px){

    .container-fullwidth{
        text-align: center;
    }

    .title-image{
        width: 80%;
        position: static;
        transform: rotate(0);
        /* right: 10px; */
    }
}